{{#if display_flag.state}}
  <div class="search-detail">{{user.State}}</div>
{{/if}}
{{#if display_flag.grade_year}}
  <div class="search-detail">学年/社会人経験年数:{{user.GradeYear}}</div>
{{/if}}
{{#if display_flag.undergraduate}}
  <div class="search-detail">{{user.Undergraduate}}</div>
{{/if}}
{{#if display_flag.university}}
  <div class="search-detail">{{user.University}}</div>
{{/if}}
{{#if display_flag.repeat_year}}
  <div class="search-detail">{{user.RepeatYear}}</div>
{{/if}}

{{#if display_flag.industry}}
  <div class="search-detail">{{user.Industry}}</div>
{{/if}}

{{#if display_flag.occupation}}
  <div class="search-detail">{{user.Occupation}}</div>
{{/if}}
{{#if display_flag.gender}}
  <div class="search-detail">{{user.Gender}}</div>
{{/if}}
